<h1>Course Listing</h1>
<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: A intro do computer science.</li>
</ul>

<ul>
    <li>Code: CS112</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: A intro do computer science.</li>
</ul>